body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: larger;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(33, 53, 63);
    padding: 10px 20px;
    color: #fff;
}
.logo span {
    font-weight: bold; 
    color: #fff; 
}
.navbar .logo a {
    text-decoration: none;
    font-family: 'Lucida Sans', Verdana;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #fff;
    align-items: center;
    gap: 10px;
    display: flex;
}
.logo img {
    height: 60px; 
    width: auto; 
    display: block;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    font-style:initial;
    font-weight: bold;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover, a:active {
    background-color: #575757;
}
/* Mobile styles */
@media (max-width: 768px) {
    .nav-links {
        display: none; /* Initially hidden */
        flex-direction: column;
        gap: 10px;
        background-color: rgb(33, 53, 63);
        padding: 10px;
        position: absolute;
        top: 70px;
        right: 20px;
        border-radius: 8px;
    }

    .nav-links.active {
        display: flex; /* Show the menu when active */
    }

    /*.nav-toggle {
        display: block;  Show the button 
    }*/
    .nav-toggle {
        font-size: 1.5rem;
        background: none;
        border: none;
        color: #fff;
        cursor: pointer;
        transition: transform 0.2s ease;
    }
}
/* Hide the toggle button for larger screens */
@media (min-width: 768px) {
    .nav-toggle {
        display: none;
    }
    .nav-links {
        display: flex; /* Ensure nav links are visible in large screens */
    }
}
